body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content closer to the top */
  height: 100vh;
  margin: 0;
  padding: 10px; /* Add padding to avoid cutting off elements */
  background-color: #f4f4f4;
}

h1 {
  margin:10px 0;
}

#game-container {
  display: grid;
  gap: 2px;
  overflow: auto; /* Allow scrolling if needed */
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border: 1px solid #aaa;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.cell.revealed {
  background-color: #e0e0e0;
  cursor: default;
}

.cell.mine {
  background-color: red;
  color: white;
}

.cell.flagged {
  background-color: yellow;
}

.cell:hover {
  background-color: #d3d3d3; /* Slightly darker gray */
  cursor: pointer;
}

#refresh-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #d3d3d3;
  color: black;
}

#refresh-button:hover {
  background-color: #0056b3;
}

#instructions {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#instructions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#instructions li {
  margin: 5px 0;
}
